<nav class="navbar shadow-sm fixed-top bg-white">  
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/icon.jpg" alt="Logo" width="35" height="30" class="d-inline-block align-text-top">
        CareerHub
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('index')}}">Login</a>
        </li>
        <li>
          <a class="nav-link" href=" mailto:cyberselva2003@gmail.com?subject=Questions%20for%20job%20openings&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20Question%3A%20%3Center%20your%20question%20here%3E">Contact</a> 
        </li>
      </ul>
    </div>
    
  </nav>
  
  <div style="height: 56px;">
  </div>

  